<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
   </extension>
   <extension
         id="rascal.markerType.sourceLocationBreakpoint"
         name="Rascal Source Location Breakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.imp.editor.UniversalEditor"
            class="org.rascalmpl.eclipse.debug.ui.breakpoints.RascalEditorAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         id="rascal_nature"
         name="rascal_nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.rascalmpl.eclipse.nature.Nature">
         </run>
      </runtime>
      <builder
            id="rascal_eclipse.rascal_builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="rascal-library">
         <run
               class="org.rascalmpl.eclipse.nature.RascalLibraryFileSystem">
         </run>
      </filesystem>
   </extension>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="Source analysis and manipulation language"
            extensions="rsc"
            icon="icons/rascal3D_2-32px.gif"
            language="Rascal"
            natureID="rascal_nature"
            url="http://www.rascal-mpl.org">
      </language>
   </extension>
   <extension
         id="rascal-eclipse.parserWrapper"
         name="Rascal Parser Wrapper"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.rascalmpl.eclipse.editor.ParseController"
            language="Rascal">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.rascalmpl.eclipse.editor.TokenColorer"
            language="Rascal">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="org.rascalmpl.eclipse.outline.LabelProvider"
            language="Rascal">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="org.rascalmpl.eclipse.outline.TreeModelBuilder"
            language="Rascal">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.rascalmpl.eclipse.editor.DocumentationProvider"
            language="Rascal">
      </docProvider>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="org.rascalmpl.eclipse.terms.TermParseController"
            language="Terms">
      </parser>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            description="Abstract language which all Rascal-based implementations of languages are derived from to allow on-the-fly extension of the Eclipse IDE"
            extensions="trm"
            initializerClass="org.rascalmpl.eclipse.nature.InitializeRascalPlugins"
            language="Terms">
      </language>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.hyperLink">
      <hyperlinkDetector
            class="org.rascalmpl.eclipse.editor.HyperlinkDetector"
            language="Rascal">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.documentationProvider">
      <docProvider
            class="org.rascalmpl.eclipse.editor.DocumentationProvider"
            language="Terms">
      </docProvider>
   </extension>
  
   <extension
         point="org.eclipse.imp.runtime.hyperLink">
      <hyperlinkDetector
            class="org.rascalmpl.eclipse.editor.HyperlinkDetector"
            language="Terms">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="org.rascalmpl.eclipse.editor.TokenColorer"
            language="Terms">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rascalmpl.eclipse.perspective.Factory"
            fixed="false"
            icon="icons/rascal3D_2-16px.gif"
            id="rascal.perspective"
            name="Rascal">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.rascalmpl.eclipse.library.vis.FigureViewer"
            default="false"
            id="rascal-eclipse.Figure.viewer"
            name="Figure Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Debugging Rascal Programs"
            id="rascal.debugging"
            name="Debugging Rascal Programs"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="rascal_eclipse"
            class="org.rascalmpl.eclipse.wizards.RascalProjectWizard"
            descriptionImage="icons/rascal3D_2-16px.gif"
            finalPerspective="rascal.perspective"
            icon="icons/rascal3D_2-32px.png"
            id="rascal-eclipse.projectwizard"
            name="Rascal Project"
            project="true">
      </wizard>
      <category
            id="rascal_eclipse"
            name="Rascal">
      </category>
      <wizard
            category="rascal_eclipse"
            class="org.rascalmpl.eclipse.wizards.NewRascalFile"
            icon="icons/rascal3D_2-32px.png"
            id="rascal_eclipse.wizards.NewRascalFile"
            name="Rascal File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/rascal3D_2-32px.png"
            id="rascal_nature.image"
            natureId="rascal_eclipse.rascal_nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.rascalmpl.eclipse.launch.LaunchDelegate"
            id="rascal.launchType"
            modes="run, debug"
            name="Rascal Application"
            sourceLocatorId="rascal-eclipse.sourceLocator"
            sourcePathComputerId="rascal-eclipse.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.rascalmpl.eclipse.debug.core.breakpoints.RascalSourceLocationBreakpoint"
            id="rascal.sourceLocationBreakpoint"
            markerType="rascal.markerType.sourceLocationBreakpoint"
            name="Rascal Source Location Breakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.rascalmpl.eclipse.debug.core.sourcelookup.RascalSourceLookupDirector"
            id="rascal-eclipse.sourceLocator"
            name="Rascal source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.rascalmpl.eclipse.debug.core.sourcelookup.RascalSourcePathComputerDelegate"
            id="rascal-eclipse.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.rascalmpl.eclipse.launch.TabGroup"
            description="Specify and launch a Rascal program"
            id="rascal.tabGroup"
            type="rascal.launchType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/rascal3D_2-16px.gif"
            configTypeID="rascal.launchType"
            id="rascal.typeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Rascal Application"
            icon="icons/rascal3D_2-16px.gif"
            class="org.rascalmpl.eclipse.launch.LaunchShortcut"
            modes="run, debug"
            id="rascal.launchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <test
                           value="*.rsc"
                           property="org.eclipse.debug.ui.matchesPattern"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
     <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.rascalmpl.eclipse.debug.ui.presentation.RascalModelPresentation"
            id="rascal.debugModel"/>
   </extension>
     <extension
           point="org.eclipse.debug.ui.contextViewBindings">
        <contextViewBinding
              contextId="rascal.debugging"
              viewId="rascal-eclipse.functionview">
        </contextViewBinding>
     </extension>
     <extension
           point="org.eclipse.debug.ui.debugModelContextBindings">
        <modelContextBinding
              contextId="rascal.debugging"
              debugModelId="rascal.debugModel">
        </modelContextBinding>
     </extension>
  
  
  <extension
        point="org.eclipse.imp.runtime.languageRegistrar">
        <languageRegistrar   
              class="org.rascalmpl.eclipse.nature.InitializeRascalPlugins"
              id="rascalStarter"></languageRegistrar>
  </extension>
  
 <extension point="org.eclipse.core.resources.markers"
            id="rascal.markerType.queryResult"
            name="Rascal Marker">
            <super type="rascal_eclipse.rascal_markers"/>
            <persistent value="true"/>
 </extension>

  <extension
       point="org.eclipse.ui.editors.annotationTypes">
       
     <type
          markerType="rascal_eclipse.rascal_markers"
          name="rascal.highlight0"
          markerSeverity="0">
    </type>
    
    <type
          markerType="rascal_eclipse.rascal_markers"
          name="rascal.highlight1"
          markerSeverity="0">
    </type>

    <type
          markerType="rascal_eclipse.rascal_markers"
          name="rascal.highlight2"
          markerSeverity="0">
    </type>
    <type
          markerType="rascal_eclipse.rascal_markers"
          name="rascal.highlight3"
          markerSeverity="0">
    </type>
     <type
          markerType="rascal_eclipse.rascal_markers"
          name="rascal.highlight4"
          markerSeverity="0">
    </type>
   
 </extension>
 

  <extension 
  	   point="org.eclipse.ui.editors.markerAnnotationSpecification"
       id="rascal.highlight1Marker">
      
     <specification
           annotationType="rascal.highlight0"
           colorPreferenceKey="Highlight0ColorPreferenceKey"
           colorPreferenceValue="255,192,203"
           contributesToHeader="false"
           highlightPreferenceKey="Highlight0HighLightPreferenceKey"
           highlightPreferenceValue="true"
           includeOnPreferencePage="false"
           isGoToNextNavigationTarget="true"
           isGoToPreviousNavigationTarget="true"
           overviewRulerPreferenceKey="Highlight0OverViewPreferenceKey"
           overviewRulerPreferenceValue="true"
           presentationLayer="4"
           showInNextPrevDropdownToolbarAction="true"
           textPreferenceKey="Highlight0TextPreferenceKey"
           textPreferenceValue="true"
           textStylePreferenceKey="Highlight0StylePreferenceKey"
           textStylePreferenceValue="BOX"
           verticalRulerPreferenceKey="Highlight0VerticalRulerPreferenceKey"
           verticalRulerPreferenceValue="true">
     </specification>
  </extension>
 
 
  <extension 
       point="org.eclipse.ui.editors.markerAnnotationSpecification"
       id="rascal.highlight1Marker">
    
     <specification
           annotationType="rascal.highlight1"
           colorPreferenceKey="Highlight1ColorPreferenceKey"
           colorPreferenceValue="255,255,0"
           contributesToHeader="false"
           highlightPreferenceKey="Highlight1HighLightPreferenceKey"
           highlightPreferenceValue="true"
           includeOnPreferencePage="false"
           isGoToNextNavigationTarget="true"
           isGoToPreviousNavigationTarget="true"
           overviewRulerPreferenceKey="Highlight1OverViewPreferenceKey"
           overviewRulerPreferenceValue="true"
           presentationLayer="4"
           showInNextPrevDropdownToolbarAction="true"
           textPreferenceKey="Highlight1TextPreferenceKey"
           textPreferenceValue="true"
           textStylePreferenceKey="Highlight1StylePreferenceKey"
           textStylePreferenceValue="BOX"
           verticalRulerPreferenceKey="Highlight1VerticalRulerPreferenceKey"
           verticalRulerPreferenceValue="true">
     </specification>
  </extension>

 
  <extension 
       point="org.eclipse.ui.editors.markerAnnotationSpecification"
       id="rascal.highlight2Marker">
        
     <specification
           annotationType="rascal.highlight2"
           colorPreferenceKey="Highlight2ColorPreferenceKey"
           colorPreferenceValue="255,0,255"
           contributesToHeader="false"
           highlightPreferenceKey="Highlight2HighLightPreferenceKey"
           highlightPreferenceValue="true"
           includeOnPreferencePage="false"
           isGoToNextNavigationTarget="true"
           isGoToPreviousNavigationTarget="true"
           overviewRulerPreferenceKey="Highlight2OverViewPreferenceKey"
           overviewRulerPreferenceValue="true"
           presentationLayer="4"
           showInNextPrevDropdownToolbarAction="true"
           textPreferenceKey="Highlight2TextPreferenceKey"
           textPreferenceValue="true"
           textStylePreferenceKey="Highlight2StylePreferenceKey"
           textStylePreferenceValue="BOX"
           verticalRulerPreferenceKey="Highlight2VerticalRulerPreferenceKey"
           verticalRulerPreferenceValue="true">
     </specification>
  </extension>
  
   <extension 
       point="org.eclipse.ui.editors.markerAnnotationSpecification"
       id="rascal.highlight3Marker">
        
     <specification
           annotationType="rascal.highlight3"
           colorPreferenceKey="Highlight3ColorPreferenceKey"
           colorPreferenceValue="0,255,255"
           contributesToHeader="false"
           highlightPreferenceKey="Highlight3HighLightPreferenceKey"
           highlightPreferenceValue="true"
           includeOnPreferencePage="false"
           isGoToNextNavigationTarget="true"
           isGoToPreviousNavigationTarget="true"
           overviewRulerPreferenceKey="Highlight3OverViewPreferenceKey"
           overviewRulerPreferenceValue="true"
           presentationLayer="4"
           showInNextPrevDropdownToolbarAction="true"
           textPreferenceKey="Highlight3TextPreferenceKey"
           textPreferenceValue="true"
           textStylePreferenceKey="Highlight3StylePreferenceKey"
           textStylePreferenceValue="BOX"
           verticalRulerPreferenceKey="Highlight3VerticalRulerPreferenceKey"
           verticalRulerPreferenceValue="true">
     </specification>
  </extension>
  
  
   <extension 
       point="org.eclipse.ui.editors.markerAnnotationSpecification"
       id="rascal.highlight4Marker">
        
     <specification
           annotationType="rascal.highlight4"
           colorPreferenceKey="Highlight4ColorPreferenceKey"
           colorPreferenceValue="0,255,0"
           contributesToHeader="false"
           highlightPreferenceKey="Highlight4HighLightPreferenceKey"
           highlightPreferenceValue="true"
           includeOnPreferencePage="false"
           isGoToNextNavigationTarget="true"
           isGoToPreviousNavigationTarget="true"
           overviewRulerPreferenceKey="Highlight4OverViewPreferenceKey"
           overviewRulerPreferenceValue="true"
           presentationLayer="4"
           showInNextPrevDropdownToolbarAction="true"
           textPreferenceKey="Highlight4TextPreferenceKey"
           textPreferenceValue="true"
           textStylePreferenceKey="Highlight4StylePreferenceKey"
           textStylePreferenceValue="BOX"
           verticalRulerPreferenceKey="Highlight4VerticalRulerPreferenceKey"
           verticalRulerPreferenceValue="true">
     </specification>
  </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:#CompilationUnitEditorContext">
       <dynamic
             class="org.rascalmpl.eclipse.library.util.NonRascalMenuContributionItem"
             id="org.rascalmpl.eclipse.library.util.NonRascalMenuContributionItem.dynamic1">
       </dynamic>
    </menuContribution>
    <menuContribution
          locationURI="popup:#TextEditorContext">
       <dynamic
             class="org.rascalmpl.eclipse.library.util.NonRascalMenuContributionItem"
             id="org.rascalmpl.eclipse.library.util.NonRascalMenuContributionItem.dynamic2">
       </dynamic>
    </menuContribution>
    <menuContribution
          locationURI="popup:#ClassFileEditorContext">
       <dynamic
             class="org.rascalmpl.eclipse.library.util.NonRascalMenuContributionItem"
             id="org.rascalmpl.eclipse.library.util.NonRascalMenuContributionItem.dynamic3">
       </dynamic>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.themes">
    <fontDefinition
          id="rascal-eclipse.printerFontDefinition"
          label="Printer Font"
          value="Monospace-regular-6">
    </fontDefinition>
 </extension>
 <extension
       id="rascal.markerType.testResult"
       name="Rascal Test Result"
       point="org.eclipse.core.resources.markers">
    <persistent
          value="true">
    </persistent>
    <super
          type="rascal_eclipse.rascal_markers">
    </super>
 </extension>
 <extension
       point="org.eclipse.imp.runtime.modelTreeBuilder">
    <treeBuilder
          class="org.rascalmpl.eclipse.terms.TreeModelBuilder"
          language="Terms">
    </treeBuilder>
 </extension>
 <extension
       point="org.eclipse.imp.runtime.labelProvider">
    <labelProvider
          class="org.rascalmpl.eclipse.terms.LabelProvider"
          language="Terms">
    </labelProvider>
 </extension>
 <extension
       point="org.eclipse.imp.runtime.foldingUpdater">
    <foldingUpdater
          class="org.rascalmpl.eclipse.terms.FoldingUpdater"
          language="Terms">
    </foldingUpdater>
 </extension>
 <extension
       point="org.eclipse.imp.runtime.editorActionContributions">
    <editorActionContributor
          class="org.rascalmpl.eclipse.terms.ActionContributor"
          language="Terms">
    </editorActionContributor>
 </extension>
 

<extension
      point="org.eclipse.ltk.core.refactoring.renameParticipants">
   <renameParticipant
         class="org.rascalmpl.eclipse.refactoring.RenameParticipant"
         id="rascal-eclipse.rename"
         name="Rename Rascal Module">
      <enablement>
         <instanceof
               value="org.eclipse.core.resources.IFile">
         </instanceof>
      </enablement>
   </renameParticipant>
</extension>
<extension
      point="org.eclipse.imp.runtime.foldingUpdater">
   <foldingUpdater
         class="org.rascalmpl.eclipse.terms.FoldingUpdater"
         language="rascal">
   </foldingUpdater>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         allowMultiple="false"
         class="org.rascalmpl.eclipse.ambidexter.ReportView"
         icon="icons/ambidexter-a-16.png"
         id="rascal-eclipse.ambidexter.report"
         name="Ambiguity reports"
         restorable="true">
   </view>
   <view
         allowMultiple="false"
         class="org.rascalmpl.eclipse.console.internal.StdAndErrorViewPart"
         icon="icons/rascal3D_2-16px.gif"
         id="rascal-eclipse.outputview"
         name="Output"
         restorable="true">
   </view>
   <view
         allowMultiple="false"
         class="org.rascalmpl.eclipse.perspective.views.Tutor"
         icon="icons/rascal-tutor-small.png"
         id="rascal-eclipse.tutorBrowser"
         name="Tutor"
         restorable="true">
   </view>
</extension>
<extension
      point="org.eclipse.imp.runtime.editorActionContributions">
   <editorActionContributor
         class="org.rascalmpl.eclipse.editor.ActionsContributor"
         language="rascal">
   </editorActionContributor>
</extension>
<extension
      id="term_builder"
      name="term_builder"
      point="org.eclipse.core.resources.builders">
   <builder>
      <run
            class="org.rascalmpl.eclipse.terms.Builder">
      </run>
   </builder>
</extension>
<extension
      id="term_markers"
      name="term_markers"
      point="org.eclipse.core.resources.markers">
   <super
         type="rascal_eclipse.rascal_markers">
   </super>
   <persistent
         value="true">
   </persistent>
</extension>
<extension
      id="term_nature"
      name="term_nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.rascalmpl.eclipse.terms.TermNature">
      </run>
   </runtime>
   <builder
         id="rascal_eclipse.term_builder">
   </builder>
</extension>
<extension
      point="org.eclipse.ui.preferencePages">
   <page
         class="org.rascalmpl.eclipse.preferences.Page"
         id="rascal-eclipse.preferencePage"
         name="Rascal">
   </page>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="org.rascalmpl.eclipse.preferences.Initializer">
   </initializer>
</extension>
<extension
      id="rascal_builder"
      name="rascal_builder"
      point="org.eclipse.core.resources.builders">
   <builder>
      <run
            class="org.rascalmpl.eclipse.nature.Builder">
      </run>
   </builder>
</extension>
<extension
      id="rascal_markers"
      name="rascal_markers"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.problemmarker">
   </super>
   <persistent
         value="true">
   </persistent>
</extension>
<extension
      point="org.eclipse.ui.editors.markerUpdaters">
   <updater
         class="org.rascalmpl.eclipse.debug.core.breakpoints.SourceLocationMarkerUpdater"
         id="sourceLocationMarkerUpdater">
   </updater>
</extension>
</plugin>
